  /*about page specific*/
  section.content.services {
    padding: 0 100px 30px 100px;
  }
  .page-header {
    display: none;
  }
  .about {
    height: 1000px;
    
    p { 
      margin: 0
    }
    padding: 40px 100px 30px 100px;

    .fa { 
        font-size: 166px !important;
        line-height: 1 !important;
        color: $base-font-color

      }
      h4{
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 0;
        margin-top: 24px;
        color: #333;

      }
      .three-col {
          margin-bottom: 30px
      }
      .col-item {
          width: 100%;
          max-width: 200px;
          text-align: center;
      }


  }
