
  .center {
    display: flex;
    justify-content: center;
    h2{
      margin-top: 30px;
    }
  }
  section.lets-connect {
    margin-top: 300px;
    background-color: #99F7B8;

  }
  .whitespace {
    height: 300px;
  }

  .white {
    color: white;
  }
